<div class="flex justify-between items-center">
  <h1 class="text-4xl font-bold">Tarefas</h1>
    <%= link_to "Novo", new_task_path, class: "btn btn-primary" %>
</div>

<div id="tasks" class="min-w-full">
  <% @tasks.each do |task| %>
    <%= render ChallengeCardComponent.new(task) %>
  <% end %>
</div>
