<div class="flex justify-between items-center">
  <h1 class="text-4xl font-bold">Tarefas</h1>
</div>

<div id="tasks" class="min-w-full">
  <% @tasks.each do |task| %>
    <%= render TaskCardComponent.new(task) %>
  <% end %>
</div>
